fastapi
uvicorn[standard]
sqlalchemy
pymysql
python-dotenv
feedparser
requests
#transformers==4.41.1    
#torch==2.2.2             
scikit-learn
scikit-learn
numpy
passlib[bcrypt]
python-jose[cryptography]
pydantic[email]
apscheduler
konlpy
faker
umap-learn
hdbscan
scipy
redis
pydantic-settings
fastapi-cache2
redis