fastapi
uvicorn[standard]
sqlalchemy
pymysql
python-dotenv
feedparser
requests
transformers==4.41.1     # ✅ 핵심 기능만 대체
torch==2.2.2             # ✅ 모델 실행을 위한 최소 토치
scikit-learn
scikit-learn
numpy
passlib[bcrypt]
python-jose[cryptography]
pydantic[email]
apscheduler
konlpy
faker
umap-learn
hdbscan
scipy
redis
pydantic-settings
fastapi-cache2
redis