fastapi
uvicorn[standard]
sqlalchemy
pymysql
python-dotenv
feedparser
requests
#sentence-transformers
scikit-learn
numpy
passlib[bcrypt]
python-jose[cryptography]
pydantic[email]
apscheduler
konlpy
faker
umap-learn
hdbscan
scipy
redis
pydantic-settings
fastapi-cache2
redis